In [14]:
# import relevant packages
import os
import datetime as dt
import tweepy as tw
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
consumer_key = 'X'
consumer_secret = 'X'
access_token = 'X'
access_token_secret = 'X'

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth)

In [4]:
username = 'NintendoAmerica'

In [5]:
tweets = api.user_timeline(screen_name=username, 
                           count=200, 
                           include_rts=False, 
                           tweet_mode='extended')

In [6]:
for info in tweets[:3]:
    print("ID: {}".format(info.id))
    print(info.created_at)
    print(info.full_text)
    print("\n")

ID: 1299059620540035072
2020-08-27 19:02:03
Discover a puzzling adventure as a lost ember in search for meaning and a way home in The Last Campfire by @hellogames, available now on #NintendoSwitch!

ðŸ”¥: https://t.co/CzTSI2FeSX https://t.co/cZT8icR1uT


ID: 1299029126846787586
2020-08-27 17:00:53
All aboard the caravan!

#FinalFantasy Crystal Chronicles Remastered Edition is available now on #NintendoSwitch with improved visuals, new content, online multiplayer, cross-platform support and more!

https://t.co/eVTxsQDSkx https://t.co/88HKCwsQAW


ID: 1299014221829738498
2020-08-27 16:01:39
The Lore, Legends, and Heroes from Marvel have arrived in Fortnite! Suit up as eight Marvel Heroes and Villains with the Chapter 2 - Season 4 Battle Pass. #FortniteNexusWar

https://t.co/Pfq8sEZf3I https://t.co/MZ8yMSW9I3

In [7]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id

while True:
    tweets = api.user_timeline(screen_name=username,
                               count=200,
                               include_rts=False,
                               max_id = oldest_id - 1,
                               tweet_mode='extended')
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print("Number of tweets downloaded {}".format(len(all_tweets)))

Number of tweets downloaded 314
Number of tweets downloaded 456
Number of tweets downloaded 593
Number of tweets downloaded 739
Number of tweets downloaded 901
Number of tweets downloaded 1034
Number of tweets downloaded 1166
Number of tweets downloaded 1327
Number of tweets downloaded 1477
Number of tweets downloaded 1624
Number of tweets downloaded 1795
Number of tweets downloaded 1927
Number of tweets downloaded 2075
Number of tweets downloaded 2200
Number of tweets downloaded 2349
Number of tweets downloaded 2366

In [8]:
print(all_tweets[-1].created_at)

2018-12-27 16:00:00

In [9]:
outtweets = [[tweet.id_str,
              tweet.created_at,
              tweet.favorite_count,
              tweet.retweet_count,
              tweet.full_text.encode("utf-8").decode("utf-8")]
             for idx, tweet in enumerate(all_tweets)]

In [10]:
df = pd.DataFrame(outtweets,
                  columns=['id', 'created_at', 'fav', 'rt', 'text'])
df.head()

,id,created_at,fav,rt,text
0,1299059620540035072,2020-08-27 19:02:03,1380,192,Discover a puzzling adventure as a lost ember ...
1,1299029126846787586,2020-08-27 17:00:53,1881,351,All aboard the caravan!\n\n#FinalFantasy Cryst...
2,1299014221829738498,2020-08-27 16:01:39,1464,141,"The Lore, Legends, and Heroes from Marvel have..."
3,1298999090429059076,2020-08-27 15:01:32,1713,157,The war to save Reality starts now! Drop into ...
4,1298788572263329792,2020-08-27 01:05:00,2912,385,ðŸŽ¶ Play to the beat of your own drum with 39 ne...

In [11]:
# df.to_csv('../data/Nintendo_tweets.csv')